// ===========================================
// $ SCREEN SIZES
// ===========================================

$xxsmall          : 320;
$xsmall           : 480;
$small            : 600;
$medium           : 768;
$large            : 1000;
$xlarge           : 1200;
$xxlarge          : 1400;

// $ DEVICE BREAKPOINTS
// -------------------------------------------
// dev/sass/settings/mixins/_layout-screen-size-mq.scss

// XXSMALL
$xxsmall-min       : #{ $xxsmall }px;      // MIN:320
$xxsmall-max       : #{ $xsmall - 1 }px;   // MAX:479

// XSMALL
$xsmall-min        : #{ $xsmall }px;       // MIN:480
$xsmall-max        : #{ $small }px;        // MAX:600

// SMALL
$small-min         : #{ $small + 1 }px;    // MIN:601
$small-max         : #{ $medium }px;       // MAX:768

// MEDIUM
$medium-min        : #{ $medium + 1 }px;   // MIN:769
$medium-max        : #{ $large - 1 }px;    // MAX:999

// LARGE
$large-min         : #{ $large }px;        // MIN:1000
$large-max         : #{ $xlarge - 1 }px;   // MAX:1199

// XLARGE
$xlarge-min        : #{ $xlarge }px;       // MIN:1200
$xlarge-max        : #{ $xxlarge - 1 }px;  // MAX:1399

// XXLARGE
$xxlarge-min       : #{ $xxlarge }px;      // MIN:1400

// $ GRID MIXIN LISTS
// -------------------------------------------
$breakpoint-list : xxs, xs, sm, md, lg, xl, xxl;
$breakpoint-minimum-list : $xxsmall-min, $xsmall-min, $small-min, $medium-min, $large-min, $xlarge-min, $xxlarge-min;
$breakpoint-maximum-list : $xxsmall-max, $xsmall-max, $small-max, $medium-max, $large-max, $xlarge-max;
