// ===========================================
// $ VARS
// ===========================================

// $ SHARE BRANDS LIST
// -------------------------------------------
$share-brands-list : twitter, youtube, facebook, flickr, google, pinterest, sharethis, email;

// $ BORDER GRAY
// -------------------------------------------
$border-gray-darkest-thin       : 1px solid palette(gray, darkerest);
$border-gray-darkest-medium     : 2px solid palette(gray, darkerest);
$border-gray-darkest-thick      : 4px solid palette(gray, darkerest);

$border-gray-darker-thin        : 1px solid palette(gray, darker);
$border-gray-darker-medium      : 2px solid palette(gray, darker);
$border-gray-darker-thick       : 4px solid palette(gray, darker);

$border-gray-dark-thin          : 1px solid palette(gray, dark);
$border-gray-dark-medium        : 2px solid palette(gray, dark);
$border-gray-dark-thick         : 4px solid palette(gray, dark);

$border-gray-thin               : 1px solid palette(gray);
$border-gray-medium             : 2px solid palette(gray);
$border-gray-thick              : 4px solid palette(gray);

$border-gray-light-thin         : 1px solid palette(gray, light);
$border-gray-light-medium       : 2px solid palette(gray, light);
$border-gray-light-thick        : 4px solid palette(gray, light);

$border-gray-lighter-thin       : 1px solid palette(gray, lighter);
$border-gray-lighter-medium     : 2px solid palette(gray, lighter);
$border-gray-lighter-thick      : 4px solid palette(gray, lighter);

$border-gray-lightest-thin      : 1px solid palette(gray, lightest);
$border-gray-lightest-medium    : 2px solid palette(gray, lightest);
$border-gray-lightest-thick     : 4px solid palette(gray, lightest);


// $ BORDER PRIMARY
// -------------------------------------------
$border-primary-darkest-thin    : 1px solid palette(primary, darkest);
$border-primary-darkest-medium  : 2px solid palette(primary, darkest);
$border-primary-darkest-thick   : 4px solid palette(primary, darkest);

$border-primary-darker-thin     : 1px solid palette(primary, darker);
$border-primary-darker-medium   : 2px solid palette(primary, darker);
$border-primary-darker-thick    : 4px solid palette(primary, darker);

$border-primary-dark-thin       : 1px solid palette(primary, dark);
$border-primary-dark-medium     : 2px solid palette(primary, dark);
$border-primary-dark-thick      : 4px solid palette(primary, dark);

$border-primary-thin            : 1px solid palette(primary);
$border-primary-medium          : 2px solid palette(primary);
$border-primary-thick           : 4px solid palette(primary);

$border-primary-light-thin      : 1px solid palette(primary, light);
$border-primary-light-medium    : 2px solid palette(primary, light);
$border-primary-light-thick     : 4px solid palette(primary, light);

$border-primary-lighter-thin    : 1px solid palette(primary, lighter);
$border-primary-lighter-medium  : 2px solid palette(primary, lighter);
$border-primary-lighter-thick   : 4px solid palette(primary, lighter);

$border-primary-lightest-thin   : 1px solid palette(primary, lightest);
$border-primary-lightest-medium : 2px solid palette(primary, lightest);
$border-primary-lightest-thick  : 4px solid palette(primary, lightest);

