// ===========================================
// $ ACTIONS
// ===========================================

ul.actions {
  @include flexbox($alignItems:center, $flexWrap: wrap);
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    margin-bottom: $spacing-small;
  }
}

// FIT
ul.actions--fit {
  @include xsmallMax {
    display: block;
    li {
      display: block;
      margin:0 0 $spacing-small 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  @include smallMin {
    flex-wrap: nowrap;
    li {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

// $ VERTICAL
// -------------------------------------------
ul.actions--vertical {
  flex-direction: column;
  li {
    padding-left: 0;
  }
}

// $ CENTER
// -------------------------------------------
ul.actions--center {
  justify-content: center;
}

// $ DEFINITION
// -------------------------------------------
dl {
  margin: 0 0 $spacing-small 0;
  dt {
    display: block;
    font-weight: $font-weight-bold;
    margin: 0 0 ($spacing-small * 0.5) 0;
  }
  dd {
    margin-left: $spacing-small;
  }
}
