// ===========================================
// $ BOX
// ===========================================

.box {
  padding: 3rem;
  border: 1px solid palette(gray, lightest);
  border-radius: radius(10);
  > :first-child,
  > :first-child > :first-child,
  > :first-child > :first-child > :first-child {
    margin-top: 0;
  }
  > :last-child,
  > :last-child > :last-child,
  > :last-child > :last-child > :last-child {
    margin-bottom: 0;
  }
}

// $ FLEX GALLERY BOX
// -------------------------------------------
.box-flex-gallery[class*="flex-container--gallery"] > * {
  padding: 3rem 2rem;
  @include maxWidth(xxs) {
    border: 1px solid palette(gray, lightest);
    border-radius: radius(5);
  }
  @include minWidth(xs) {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      left: 1rem;
      z-index: -1;
      border: 1px solid palette(gray, lightest);
      border-radius: radius(5);
    }
  }
}
