// ===========================================
// $ POST
// ===========================================

// $ POST SUBMITTED
// -------------------------------------------
header > {
  h1, h2 {
    + .post-submitted {
      margin-top: -1.6rem;
      font-size: 0.8em;
    }
  }
}

// $ POST LIST
// -------------------------------------------
.post-list__item {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: $border-gray-lightest-thin;
  @include mediumMin {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
  }
}

// $ SHARE
// -------------------------------------------
.post-share {
  margin-top: 4rem;
}
