// ===========================================
// $ SPACING
// ===========================================

$spacing :(
  5  : 0.5rem,
  10 : 1rem,
  15 : 1.5rem,
  20 : 2rem,
  25 : 2.5rem,
  30 : 3rem
);

@each $size, $value in $spacing {
  .padding-#{$size} {
    padding: $value;
  }
  .margin-#{$size} {
    margin: $value;
  }
}

@each $breakpoint-name, $breakpoint-size in $breakpoint {
  $i: index(map-keys($breakpoint), $breakpoint-name);
  @media (min-width: $breakpoint-size) {
    @each $size, $value in $spacing {
      .padding-#{$breakpoint-name}-#{$size} {
        padding: $value;
      }
      .margin-#{$breakpoint-name}-#{$size} {
        margin: $value;
      }
    }
  }
}
