<footer id="layout-footer" class="layout-footer">
  <div class="layout-section">
    <div class="layout-container-1000 footer-top">

      <div class="footer-block footer-block--information">
        <h2>Primary Links</h2>
        <ul class="menu">
          <li class="leaf"><a href="./">Home</a></li>
          <li class="leaf"><a href="./about.html">About</a></li>
          <li class="leaf"><a href="./contact.html">Contact</a></li>
        </ul>
      </div> <!-- /.information -->

      <div class="footer-block footer-block--support">
        <h2>Secondary Links</h2>
        <ul class="menu">
          <li class="leaf"><a href="#">Link</a></li>
          <li class="leaf"><a href="#">Link</a></li>
          <li class="leaf"><a href="#">Link</a></li>
          <li class="leaf"><a href="#">Link</a></li>
        </ul>
      </div> <!-- /.support -->

      <div class="footer-block footer-block--brand">
        @@include('branding.html')
        <ul class="menu menu--share">
          <li class="leaf"><a href="#">
            <svg viewbox="0 0 15 15"><use xlink:href="./assets/images/icons.svg#icon-social-facebook"></use></svg></a>
          </li>
          <li class="leaf"><a href="#">
            <svg viewbox="0 0 15 15"><use xlink:href="./assets/images/icons.svg#icon-social-twitter"></use></svg></a>
          </li>
          <li class="leaf"><a href="#">
            <svg viewbox="0 0 15 15"><use xlink:href="./assets/images/icons.svg#icon-social-google-plus"></use></svg></a>
          </li>
          <li class="leaf"><a href="#">
            <svg viewbox="0 0 15 15"><use xlink:href="./assets/images/icons.svg#icon-social-pinterest"></use></svg></a>
          </li>
        </ul> <!-- /.menu-share -->
      </div> <!-- /.brand -->

    </div> <!-- /.footer-top -->

    <div class="layout-container footer-bottom">

      <div class="footer-block footer-block--links">
        <ul class="menu menu--inline">
          <li class="leaf"><a href="#">Privacy Policy</a></li>
          <li class="leaf"><a href="#">Terms of Use</a></li>
        </ul>
      </div>
      <div class="footer-block footer-block--copyright">
        <p><small>&copy;2017 Company. All&nbsp;Rights&nbsp;Reserved.</small></p>
      </div> <!-- /.copyright -->

    </div> <!-- /.footer-bottom -->

  </div> <!-- /.layout-section -->
</footer>
