// ===========================================
// $ FLEX CONTAINER
// Resposnive Flexbox Container and Gallery
// ===========================================

@mixin flexContainer(
    $columns : 7,
    $gallery : 8,
    $gutter  : 2rem
  ) {

  [class*="flex-container"] {
      @at-root ul#{&} {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      // VERTICAL SPACING
      + [class*="flex-container"] {
        margin-top: $gutter;
      }
  }

  // GUTTER
  .flex-container > * + * {
    margin-left: $gutter;
  }

  // COLUMN SPAN
  @for $i from 1 through $columns {
    .flex-item-#{$i} {
      flex: $i;
    }
  }

  // $ GALLERY
  // -------------------------------------------
  %flexGallery {
    flex-flow: row wrap;
    margin-right: -#{$gutter};
    margin-left: -#{$gutter};
  }

  [class*="flex-container--gallery-"] > * {
    margin-bottom: $gutter;
  }

  @for $i from 2 through $gallery {
    [class*="flex-container"].flex-container--gallery-#{$i} {
      @extend %flexGallery;
      > * {
        width: percentage(1/$i);
        margin-left: 0;
        padding: 0 $gutter;
      }
    }
  }

  // $ RESPONSIVE
  // -------------------------------------------
  @each $breakpoint-name, $breakpoint-size in $breakpoint {
    $i: index(map-keys($breakpoint), $breakpoint-name);
    @media (min-width: $breakpoint-size) {

      // FLEX CONTAINER
      .flex-container-#{$breakpoint-name} {
        display: flex;
        flex-flow: row nowrap;
        // GUTTER
        > * + * {
          margin-left: $gutter;
        }
      }

      // COLUMN SPAN
      @for $i from 1 through $columns {
        .flex-item-#{$breakpoint-name}-#{$i} {
          flex: $i;
        }
      }

      // GALLERY
      @for $i from 2 through $gallery {
        [class*="flex-container"].flex-container--gallery-#{$breakpoint-name}-#{$i} {
          flex-flow: row wrap;
          margin-right: -#{$gutter};
          margin-left: -#{$gutter};
          > * {
            width: percentage(1/$i);
            margin-left: 0;
            padding: 0 $gutter;
          }
        }
      }

    }
  }

}
