// ===========================================
// $ MEDIA QUERIES
// ===========================================

// $ MINIMUM WIDTH
// -------------------------------------------
@mixin minWidth($minSize, $mediaType: all) {
  @if type-of($minSize) == string {
    $minSize: breakpoint($minSize);
  }
  @media #{$mediaType} and (min-width: $minSize) {
    @content;
  }
}

// $ MAXIMUM WIDTH
// -------------------------------------------
@mixin maxWidth($maxSize, $mediaType: all) {
  @if type-of($maxSize) == string {
    $maxSize: breakpoint($maxSize) - 1;
  }
  @media #{$mediaType} and (max-width: $maxSize) {
    @content;
  }
}

// $ MINIMUM TO MAXIMUM WIDTH
// -------------------------------------------
@mixin minMax($minSize, $maxSize, $mediaType: all) {
  @if type-of($minSize) == string {
    $minSize: breakpoint($minSize);
  }
  @if type-of($maxSize) == string {
    $maxSize: breakpoint($maxSize) - 1;
  }
  @media #{$mediaType} and (min-width: $minSize) and (max-width: $maxSize) {
    @content;
  }
}

// $ MOBILE
// -------------------------------------------
// MAX 768
@mixin mobile($mediaType: all) {
    @include maxWidth(breakpoint(md) - 1, $mediaType: $mediaType) {
        @content;
    }
}

// $ DESKTOP
// -------------------------------------------
// MAX 769
@mixin desktop($mediaType: all) {
    @include minWidth(breakpoint(md), $mediaType: $mediaType) {
        @content;
    }
}
