// ===========================================
// $ COLLAPSE MAIN LAYOUT MENU THEME
// ===========================================

// $ BORDERS
// -------------------------------------------

.menu.collapse {
  display: block;
  @media print {
    display: none;
  }
}

// OUTER BORDER
.layout-main {

  .collapse--menu {
    border: 2px solid palette(gray, lightest);
  }

  // LEAF BORDER
  .collapse--menu .leaf + .leaf {
    border-top: 2px solid palette(gray, lightest);
  }
  .collapse--menu .js-is-active > .js-collapse__trigger {
    border-bottom: 2px solid palette(gray, lightest);
  }

  // $ ANCHORS
  // -------------------------------------------
  .collapse--menu a {
    display: block;
    padding: 1.6rem;
    line-height: $line-height-small;
    color: palette(black);
  }

}

// $ MENU LEVEL
// -------------------------------------------
.collapse__item > .collapse__trigger {

  // LEVEL 0
  .layout-main .collapse--menu.js-nested-collapse--level-0 > & {
    background-color: palette(gray, xxlight);
  }

  // LEVEL 1
  .layout-main .collapse--menu .js-nested-collapse--level-1 > & {
    background-color: palette(gray, xlight);
  }

  // LEVEL 2
  .layout-main .collapse--menu .js-nested-collapse--level-2 > & {
    background-color: palette(gray, lightest);
  }
}

// $ LAST LEVEL
// -------------------------------------------
.layout-main .collapse--menu .js-nested-collapse--level-last {
  padding: 1.6rem;
  > .leaf {
    + .leaf {
      border-top: 1px solid palette(gray, lightest);
    }
    > a {
      padding: 0.5rem 1rem;
    }
  }
}
