// ===========================================
// $ PRINT LAYOUT
// ===========================================

@media print {

  .print-show {
    display: none;
  }

  .layout-page {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
  }

  // $ PRINT HIDE
  // -------------------------------------------
  .layout-mobile,
  .print-hide {
    display: none!important;
  }
  .print-show {
    display: block!important;
  }

}
