// ===========================================
// $ SECTIONS
// ===========================================

.layout-section {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  @include minWidth(md, screen) {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  @include minWidth(lg, screen) {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

// $ NO MARGIN
// -------------------------------------------
.layout-page .no-margin {
  margin: 0;
}

// NO TOP MARGIN
.layout-page .no-margin-top {
  margin-top: 0;
}

// NO BOTTOM MARGIN
.layout-page .no-margin-bottom {
  margin-bottom: 0;
}

// $ SECTION PADDING
// -------------------------------------------
.layout-section--padding {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @include minWidth(md, screen) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @include minWidth(lg, screen) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

// $ NO PADDING
// -------------------------------------------
.layout-page .no-padding {
  padding: 0;
}

// NO TOP MARGIN
.layout-page .no-padding-top {
  padding-top: 0;
}

// NO BOTTOM MARGIN
.layout-page .no-padding-bottom {
  padding-bottom: 0;
}
