// ===========================================
// $ TEXT COLUMNS
// ===========================================

@for $i from 2 through 4 {
    .text-columns-#{$i} {
        column-count: $i;
    }
}

@each $span-size in $breakpoint-list {
    $i: index($breakpoint-list, $span-size);
    @media (min-width: nth($breakpoint-minimum-list, $i)) {

        @for $i from 2 through 4 {
            .text-columns-#{$span-size}-#{$i} {
                column-count: $i;
            }
        }

    }
}

[class*="text-columns-"] {
    h1, h2, h3, h4, h5, h6 {
        column-span: all;
    }
}
