// ===========================================
// $ VISIBILITY
// ===========================================

// $ HIDE
// -------------------------------------------
.hidden {
    display:none;
}

// $ HIDE TEXT
// -------------------------------------------
.hide-text {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

// $ MOBILE
// -------------------------------------------
.hide-mobile {
    @include mobile {
        display: none!important;
    }
}

// $ DESKTOP
// -------------------------------------------
.hide-desktop {
    @include desktop {
        display: none!important;
    }
}
