// ===========================================
// $ DEBUG
// ===========================================

$debug : true;

// $ BREAKPOINTS
// -------------------------------------------

@if $debug {
  .layout-page {
    padding-bottom: 2.5rem;
    &:after {
      content: '';
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0.5rem;
      font-size: $font-size-smallest;
      color: palette(white);
      background-color: palette(black);
      z-index: 9999;

      $breakpoint-color-list: red, green, blue, cobalt, magenta, orange, crimson;
      @each $breakpoint-name, $breakpoint-size in $breakpoint {
        $i: index(map-keys($breakpoint), $breakpoint-name);
        @media (min-width: $breakpoint-size) {
          content: '#{to-upper-case($breakpoint-name)} - #{$breakpoint-size}';
          background-color: palette(nth($breakpoint-color-list, $i));
        }
      }
    }
  }
}
