// ===========================================
// $ TABLE BORDER
// ===========================================

@if $tableBorder {
  table.table-border {
    border: 4px solid palette(gray, lighter);
    tbody th,
    thead {
      border-bottom: none;
      background-color: palette(gray, xxlight);
    }
    tfoot {
      background-color: palette(gray, xxlight);
    }
    tr {
      border-top: 1px solid palette(gray, lightest);
    }
    th,
    td {
      padding: 1rem 1.6rem;
    }
  }

  @if $tableResponsive {
    table.table-responsive {
      @include mobile {

        &.js-table-responsive--thead {
          tr.js-table-responsive__row {
            border: 4px solid palette(gray, lighter);
          }
          td.js-table-responsive__td {
            border-top: 1px solid palette(gray, lighter);
            padding: 0.5rem 1rem;
          }
        }

      }
    }
  }
}
