// ===========================================
// $ HEADER MOBILE
// ===========================================

.layout-header-mobile {
  @include desktop {
    display: none!important;
  }
}

.layout-header-mobile {
  @include flexbox($alignItems:center);

  a {
    color: palette(white);
    border: none;
  }

  // PADDING
  > div {
    padding: 1rem;
  }

  // BRANDING
  .branding {
    flex: 1;
  }

}
