// ===========================================
// $ IE
// ===========================================

// $ UPGRADE BROWSER
// -------------------------------------------
.browserupgrade {
    background-color: palette(yellow);
    margin: 0;
    padding: 2rem;
}
