// ===========================================
// $ PAGE TITLE
// ===========================================

.page-header {
  margin-top: $spacing-base * 2;
  text-align: center;
}

.page-title {
  font-weight: $font-weight-bold;
  line-height: $line-height-smaller;
  @include responsiveType(5vw, 30px, 60px, 50px);
  @media screen {
  color: palette(primary);
  }
  .layout-has-sidebar & {
  text-align: left;
  }
}
