// ===========================================
// $ SLICK DOTS
// ===========================================

ul.slick-button-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-button-dots li {
    display: inline-block;
    padding:0 0.5rem;
    button {
        border: none;
        background-color: palette(gray, lighter);
        border-radius: radius(100);
        font-size: 0;
        line-height: 0;
        width: 0.75rem;
        height: 0.75rem;
        padding: 0;
        margin: 0;
        transition: background-color 0.3s;
        &:hover, &:focus {
            outline: none;
        }
    }
    &.slick-active button,
    button:hover {
        background-color: palette(black);
    }
}
